<script type="text/javascript" src="https://static.sketchfab.com/api/sketchfab-viewer-1.3.1.js"></script>
<% if document.uploaded_resource? %>
    <% @resource = document.uploaded_resource %>
  <% else %>
    <% @resource = Spotlight::Resource.find(@document['spotlight_resource_id_ssim'].first.split("/").last.to_i) %>
  <% end %>
<% if @resource.file_type == "image" or @resource.file_type == "compound object" %>
  <!-- If an image, use Mirador -->
  <!-- need iframes to embed more than one viewer (e.g. if on a feature page). See manifest_fullscreen, application.css -->
  <iframe title="Mirador" style="width: 100%; min-height: 500px;" src="http://ophelia.library.uvic.ca/spotlight/<%= current_exhibit.slug %>/catalog/<%= document.id %>/mirador_fullscreen"
  allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true">
  </iframe>
  <%# if current_page? [spotlight, @exhibit, @page] %>
    <!-- <p>View item page</p> <!-- Link to item -->
  <%# end %>
  <!-- Disable annotation creation for non-admins (Mirador annotations config doesn't seem to work in mirador_rails) -->
  <% if can? :manage, @page %>
    <style>
      .mirador-osd-annotation-controls a:not(:first-child) *, .hud-dropdown *, .hud-dropdown, .button-container {
        display: hidden !important;
      }
    </style>
  <% end %>
  <% console %>

  <!-- 3D model on Sketchfab -->
  <% elsif @resource.file_type == "model" %>
  <div class="sketchfab-embed-wrapper"><iframe width="640" height="480" src="https://sketchfab.com/models/<%= @resource.uid %>/embed" frameborder="0" allow="autoplay; fullscreen; vr" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
      If there is an error, please wait and try again. Sketchfab needs some time to process the model.
    </p>
    <p style="font-size: 13px; font-weight: normal; margin: 5px; color: #4A4A4A;">
      <a href="https://sketchfab.com/models/<%= @resource.uid %>?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">
        <% if @resource.data["full_title_tesim"].present? %>
          <%= @resource.data["full_title_tesim"] %>
        <% else %>
          <%= @resource.file_name %>
        <% end %>
       </a>
      on <a href="https://sketchfab.com?utm_medium=embed&utm_source=website&utm_campaign=share-popup" target="_blank" style="font-weight: bold; color: #1CAAD9;">Sketchfab</a>
    </p>
  </div> <!-- sketchfab-embed-wrapper -->
  <% elsif @resource.file_type == "pdf" %>
  <div>
    <iframe style="width: 100%; min-height: 500px;" src="/uploads/spotlight/featured_image/image/<%=@resource.upload.id%>/<%=@resource.file_name%>"></iframe>
  </div>
  <!-- For both video and audio -->
  <% else %>
  <video class="pull-left" width="auto" height="auto" controls>
    <source src="<%= '/uploads/spotlight/featured_image/image/' + @resource.upload_id.to_s + '/'+ @resource.file_name.to_s %>" type="video/mp4">
  </video>
<% end %>
